

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

  .backgg
  {
    background-image: url(../images/background_7.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }

 .overlay {
    background-color: rgb(0 ,0 ,0 ,0.7);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }

#main_container
{
    margin-top: 4em ;
}

.titles_bold
{
    font-weight: 500;
    color: #ffffff;
    font-size:19px;
}

.titles_bold1
{
    font-weight: 500;
    color: #000000;
    line-height: 2.5;
}

.text_full_screen
{
  background-color: #FBFCFB;
  color: #000000;
  border-radius: 8px;
  padding:15px;
  
}
.button_style
{
    width: 50%;
    margin-bottom: .5em;
}

.chOOse
{
  margin-left: 13em;
  margin-top: 3em;
}

.img_small_screen
{
  float: left;
}



.verify_img
{
  width:30px !important;
}

#link1
  {
    background-color: #FDCB00;
  }

  #link2
  {
    background-color: #E50102;
  }

  #link3
  {
    background-color: #0183C1;
  }

  #thanks{
    display: none;
  }

@media only screen and (max-width: 767px) {
    .img_small_screen
    {
    display: block;
    margin: 0 auto;
    float: none;
    }
    .titles_small_screen
    {
        margin-left: 2em;
        text-align: center;
        width: 50%;
    }

    .chOOse
    {
      margin-left: 0;
    }
  .btn-lg {
  width:100%
  }
    .verify_img
    {
      width:3%;
    }
  }

  
